<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>Lists</title>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>

        <div id="root">
            <ul>
                <li v-for="name in this.names" v-text="name"></li>
            </ul>
            <input type="text" v-model="newName">
            <button @click="this.addName">Adicionar</button>
        </div>

        <script>
            new Vue({
                el: '#root',
                data: {
                    names: ['Ana', 'Cezar', 'JP', 'Miguel'],
                    newName: ''
                },
                methods: {
                    addName() {
                        this.names.push(this.newName);
                        this.newName = '';
                    }
                }
            })
        </script>
    </body>
</html>